{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
 <h1>Search Results</h1>
 {% for city in object_list %}

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">City</th></a>
        <th scope="col">Language</th>
         <th scope="col">Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/topics/{{city.id}}">{{ city.Name }}</a></td>
        <td><a href="/topics2/{{city.sl}}">{{city.Language}}</a></td>
         <td><a href="/topics1/{{ city.id }}">{{ city.Name }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
 {% endfor %}
    {% endblock %}